@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('tr');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Yuji Syuku';
  src: url('~/assets/fonts/YujiSyuku-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
