html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-primary bg-secondary font-roboto;
}

/* Fixes @nuxt/icon bottom margin */
.iconify {
  vertical-align: middle;
}

.img-hero {
  width: 100%;
}

.img-profile {
  width: 100%;
}
