html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-primary bg-secondary font-roboto;
}

/* Fixes @nuxt/icon bottom margin */
.iconify {
  vertical-align: middle;
}

.element-description {
  @apply p-4 py-2 text-white text-base indent-0 bg-accent rounded-md opacity-80;
}

.page {
  @apply flex flex-col;
}

.wrapper-desktop {
  @apply lg:w-full lg:max-w-7xl lg:mx-auto;
}

.wrapper-content {
  @apply flex flex-col gap-4 px-4;
}

.container-content {
  @apply flex flex-col gap-4 py-4;
}

.container-content h1 {
  @apply text-3xl lg:text-5xl font-bold;
}

.container-content p {
  @apply text-xl lg:text-2xl;
}

.img-hero {
  width: 100%;
}

.img-profile {
  width: 100%;
}
